VITE_SUPABASE_URL=https://kxptcjbweunmodxdxhjf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt4cHRjamJ3ZXVubW9keGR4aGpmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExOTQzNjksImV4cCI6MjA5Njc3MDM2OX0.fWMLrJ5RRgJPmsfl0lFlUBjtSiFRigmZHq2zBYZqUik
